a {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: blue;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid black;
    margin: 8px;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.counter-div {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.game-display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.player-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100px;
}

.counter {
    display: flex;
    justify-content: center;
    margin: 0;
}

.display-message {
    display: flex;
    justify-content: center;
}

.pick {
    display: flex;
    justify-content: center;
}